[Unit]
Description=podman-usernamespace.service

[Service]

Type=oneshot
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman unshare /bin/true

RemainAfterExit=yes

[Install]
WantedBy=default.target
